* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  box-sizing: content-box;
  padding: 64px;
  margin: 0 auto 0 0;
  max-width: 512px;
  color: #111111;
  font-family: serif;
  font-size: 16px;
  line-height: 1.15em;
}

section {
  margin-bottom: 1.5em;
}

section p {
  margin-bottom: 0.5em;
}

section ul {
  list-style-type: none;
  margin-bottom: 0.5em;
}

section ul li {
  margin-bottom: 0.25em;
}

section ul li:before {
  content: "•";
  display: inline-flex;
  width: 19px;
  height: 16px;
  justify-content: center;
  align-items: center;
}

a[href] {
  color: #00e;
  text-decoration: underline;
  transition: all 0.12s ease;
}

@media (max-width: 512px) {
  main {
    padding: 32px;
    max-width: unset;
  }
}
