#p-jumblejot {
  --surface: #f6b;
  --on-surface: white;
  padding-top: 125px;
}

#p-jumblejot #jumblejot-image {
  margin-bottom: -150px;
  aspect-ratio: 5 / 2;
  overflow: hidden;
}

#p-jumblejot img {
  border-radius: 16px;
  width: 100%;
}

#p-icons {
  --surface: #07f;
  --on-surface: white;
}

#p-icons #icons-ticker {
  margin-left: -150px;
  width: calc(100% + 300px);
}

#p-developer {
  --surface: #191919;
  --on-surface: white;
}


#ticker-container {
  display: flex;
  position: relative;
  overflow: hidden;
}

#ticker {
  display: flex;
  animation: marquee linear infinite;
  animation-duration: 42s;
}

.set {
  display: flex;
  gap: 50px;
  color: black;
  width: fit-content;
  padding-right: 50px;
}

.set div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 32px;
  color: white;
  height: 175px;
  aspect-ratio: 1 / 1;
  font-size: 75px;
}

@keyframes marquee {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-50%, 0); }
}