@import url("https://kitt.aetinx.repl.co/kitt.css");

:root {
  --banner: #07f;
  --on-banner: white;
}

html {
  box-sizing: border-box;
  display: grid;
  place-content: strectch;
  padding: 50px;
  min-height: 100vh;
  display: grid;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  color: var(--on-background);
  font-size: 16px;
  font-weight: 500;
  font-variation-settings: "opsz" 32;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 1080px;
}

banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background: var(--banner);
  padding: 15px 25px;
  color: var(--on-banner);
}

banner * {
  color: var(--on-banner);
}

nav, footer {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--foreground-medium);
}

nav a {
  color: inherit;
  text-decoration: none;
}

nav a.button {
  padding: 0 20px;
  height: 35px;
}

nav > * {
  flex: 1;
  display: flex;
  align-items: center;
}

nav > *:first-child {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  color: var(--blue);
  font-size: 20px;
  font-weight: 600;
}

nav > *:first-child svg {
  height: 32px;
  width: 32px;
  fill: var(--blue);
}

nav > *:nth-child(2) {
  flex: 2;
  gap: 50px;
  justify-content: center;
}

nav > *:last-child {
  gap: 25px;
  justify-content: flex-end;
  color: var(--blue);
}

nav a.button.pfp {
  background: #aaa;
  background-size: cover;
  background-origin: border-box;
  border: 1px solid #00000033;
  border-radius: 50%;
  padding: 0;
  height: 35px;
  width: 35px;
}

footer {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 100px auto 50px auto;
}

footer > div {
  display: flex;
  flex: 1;
  justify-content: end;
  gap: 40px;
}

footer a {
  color: #999;
  text-decoration: none;
}

footer svg {
  height: 1.5em;
  width: auto;
}

main:not(.document) {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin: 0 auto;
  text-align: center;
}

main > .content {
  display: grid;
  gap: 200px;
}

section {
  width: 100%;
}

.hero {
  padding: 150px 0;
}

.hero h1 {
  margin: 0;
}

.hero.hero-display {
  padding-bottom: 200px;
}

.surface {
  --background: var(--surface);
  --foreground: var(--on-surface);
  --s: var(--on-surface);
  --os: var(--surface);
  background: var(--background);
  color: var(--foreground);
}

.surface > * {
  --surface: var(--s);
  --on-surface: var(--os);
}

.document {
  margin: 100px auto 50px auto;
  max-width: 750px;
}

.document .display {
  margin-bottom: 100px;
}

.document .heading-large,
.document .heading-medium,
.document .heading-small,
.document h4.paragraph-large {
  margin: 50px 0 25px 0;
}

.document p {
  margin: 1em 0;
}

.center {
  display: grid;
  place-content: center;
}

.projects {
  display: grid;
  gap: 25px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 32px;
  padding: 150px 75px;
  overflow: hidden;
}

.project-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 34px;
  line-height: 0;
  margin-bottom: 40px;
  opacity: 0.75;
}

.project-title {
  margin-bottom: 50px;
}

.project-extra {
  margin-top: 125px;
}

@media only screen and (max-width: 780px) {
  .project-extra {
    display: none;
  }
}