/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

/* Colours */
@import url("/colours.css");

* {
  font-family: "Inter", Inter, sans-serif;
  word-wrap: break-all;
}

html {
  background: var(--superlightGrey);
}

body {
  box-sizing: border-box;
  background: white;
  border-radius: 8px;
  padding: 50px;
  margin: 50px auto;
  max-width: 750px;
  font-size: 18px;
  box-shadow: 0 0 4px #00000019;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 -15px 0;
}

h6 {
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0 25px 0;
  color: var(--grey);
}

p {
  line-height: 1.5;
  margin: 25px 0;
}

p:last-child {
  margin-bottom: 0;
}

#article {
  display: block;
}

#back {
  display: inline-block;
  background: var(--blue);
  border-radius: 8px;
  padding: 10px 15px;
  margin-bottom: 50px;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  body {
    border-radius: 0;
    margin: 0;
    max-width: 100%;
    box-shadow: none;
  }
}